{% extends 'layout.html' %}

{% block body %}
    <div class="container">
        <div class="blog-header">
            <h2 class="blog-title">Fragments</h2>
        </div>
        <div class="row">
            <div class="col-sm-8 blog-main">
                <h4 class="blog-post-title">Fragment was deleted</h4>
                <ul class="list-inline">
                    <li class="list-inline-item"><a href="{{ url_for('dashboard') }}">Dashboard</a></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}