{% extends 'layout.html' %}

{% block body %}
  <p class="lead dont-stretch">by {{session.username}}</p>
  <a class="btn btn-primary search-btn" href="/add"> Add Fragment</a>
  <hr>
  <table class="table table-bordered table-striped dont-stretch width-auto">
    <tr>
      <th style="width: 5%">ID</th>
      <th style="width: 20%">Title</th>
      <th style="width: 50%">Text</th>
      <th>Tags</th>
      <th></th>
      <th></th>
    </tr>
    {% for fragment in fragments %}
      <tr>
        <td style="width: 5%">{{fragment.id}}</td>
        <td style="width: 20%">{{fragment.title}}</td>
        <td style="width: 50%">{{fragment.text}}</td>
        <td>{{fragment.tags}}</td>
        <td><a href="edit/{{fragment.id}}" class="btn btn-primary search-btn pull-right">Edit</a></td>
        <td><a href="delete/{{fragment.id}}" class="btn btn-primary delete-btn pull-right">Delete</a></td>
      </tr>
    {% endfor %}
  </table>
{% endblock %}