{% extends 'layout.html' %}

{% block body %}
  <p class="lead dont-stretch">by {{session.username}}</p>
  <a class="btn btn-primary search-btn" href="/add"> Add Fragment</a>
  <hr>
  <table class="table table-bordered table-striped dont-stretch width-auto">
    <tr>
      <th style="width: 5%">ID</th>
      <th style="width: 10%">Date</th>
      <!--th style="width: 15%">Title</th>
      <th style="width: 35%">Text</th-->
      <th>Title</th>
      <th style="width: 10%">Tags</th>
      <th style="width: 10%"></th>
      <th style="width: 10%"></th>
    </tr>
    {% for fragment in fragments %}
      <tr>
        <td style="width: 5%">{{fragment.id}}</td>
        <td style="width: 10%">{{fragment.date}}</td>
        <!--td style="width: 15%">{{fragment.title}}</td>
        <td style="width: 40%">{{fragment.text}}</td-->
        <td>{{fragment.title}}</td>
        <td style="width: 10%">{{fragment.tags}}</td>
        <td style="width: 10%"><a href="edit/{{fragment.id}}" class="btn btn-primary search-btn pull-right">Edit</a></td>
        <td style="width: 10%"><a href="delete/{{fragment.id}}" class="btn btn-primary delete-btn pull-right">Delete</a></td>
      </tr>
    {% endfor %}
  </table>
{% endblock %}