{% extends 'layout.html' %}

  {% block body %}
      <div class="container">
          <div class="blog-header">
              <h2 class="blog-title">Fragments</h2>
          </div>
          <div class="row">
              <div class="col-sm-8 blog-main">
                  {% for fragment in fragments.items %}
                      <div class="blog-post">
                          <h4 class="blog-post-title">{{ fragment.title }}</h4>
                          <div class="txt-div">{{ fragment.text | safe }}</div>
                          <h6 class="blog-post-footer">{{', '.join(fragment.tags)}}</h6>
                          <ul class="list-inline">
                             <li class="list-inline-item"><a href="{{ url_for('show',   id=fragment.id) }}">...</a></li>
                          </ul>
                      </div>
                  {% endfor %}
              </div>
              {% include 'search.html' %}
          </div>
      <p>
      <ul class="list-inline">
            <li class="list-inline-item">
                {% if fragments.has_prev %}<a href="{{ url_for('view', page=fragments.prev_num) }}">
                    <button><i class="fa fa-arrow-left"></i></button></a>{% else %}<button><i class="fa fa-arrow-left"></i></button>{% endif %} |
                {% if fragments.has_next %}<a href="{{ url_for('view', page=fragments.next_num) }}">
                    <button><i class="fa fa-arrow-right"></i></button></a>{% else %}<button><i class="fa fa-arrow-right"></i></button>{% endif %}
            </li>
      </ul>
      </div>
  {% endblock %}